nav{
	position: fixed;
	top: 0;
}

nav .brand-logo{
	font-size: 3.1rem;
}

#hamburger{
	height: 50px;
    margin-top: 10%;
    display: inline;
}

#body{
	margin-top: 3%;
}

.parallax-container{
	height: 300px;
}
.modal-trigger:hover{
	background-color: white;
	color: #2196F3;
}

#aboutmodal{
	min-height: 55%!important;
}

#tournamentmodal{
	min-height: 85%!important;
}

#classicmodal{
	min-height: 85%!important;
}

#definitionsmodal{
	min-height: 85%;
}

.modal-footer{
	position: fixed;
	bottom: 0px;
}

.carousel-item{
	margin-bottom: 5px;
}

#footer{
	height: 50px;
	width: 100%;
	margin: 0;
}

#jaredinfo{
	float: right;
}

span{
	color: yellow;
}

#sidenav-overlay{
	display: none;
}


iframe{
	margin-top: 1%;
}